html {
  scroll-behavior: smooth;
  transition: all 1s ease-in-out;
}
body {
  font-family: "Montserrat", sans-serif;
}
header {
  background-image: linear-gradient(
    to right top,
    #161a3a,
    #13162f,
    #111224,
    #0d0d1a,
    #06060e
  );
}
/*=======HOME=======*/
.hero {
  background-image: url("../src//assets/images/bg-img-home.jpg");
}
.section-heroe {
  background-image: url("../src//assets/images/poster.png");
}
#first-section {
  background-image: linear-gradient(
    to right top,
    #161a3a,
    #13162f,
    #111224,
    #0d0d1a,
    #06060e
  );
}

/*=====COMICS======*/
.bg-comics {
  /* height: 40vh; */
  background-color: #161a3a;
  width: 100%;
  background-image: url("../src/assets/images/bg-comics.jpg");
}
.bg-characters {
  /* height: 40vh; */
  background-color: #161a3a;
  background-position: 20% 40%;
  width: 100%;
  background-image: url("../src/assets/images/bg-comics.jpg");
}
.search-bar input:focus {
  outline: none;
}

.btn-marvel {
  @apply bg-primary border-primary rounded-none transition-colors hover:bg-transparent hover:border-primary text-white;
}

/*========SIGN UP===========*/
main.form-container {
  background-image: url("./assets/images/poster-min.png");
  /* background-image: url("./assets/images/bg-login.jpg"); */
}
main.form-container .overlay {
  background-color: rgb(17 18 36 / 70%);
}

/*========LOGIN ===========*/

.login-wrapper {
  background-image: url("../src/assets/images/bg-login.jpg");
  background-repeat: no-repeat;
  background-position-x: 200px;
  background-color: #030303;

  background-size: cover;
}
